<h1>Data Science Tools and Ecosystem<h1>

## In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives:**
 * Popular languages used
 * Commenly used Libraries
 * simple Math

 ### Some of the popular languages that Data Scientists use are:
 1. Python
 1. R 
 1. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Scikit-learn
1. Pandas
1. Seaborn

|Data Science Tools |
| -------------|
| Jupyter Notebooks |
| Rsutdio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
(3*4)+5
#This a simple arithmetic expression to multiply then add integers

17

In [11]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
### Reymundo Moises Arce Paramo